* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container {
    width: 100%;
    max-width: 900px;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

.form-card {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 15px;
    display: grid;
    gap: 15px;
    margin-bottom: 25px;
    border: 1px solid rgba(255,255,255,0.1);
}

input {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}

input:focus {
    outline: 2px solid #3b82f6;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
}

.students-section {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.1);
}

.students-section h2 {
    color: white;
    margin-bottom: 15px;
}

.student-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.student-card:hover {
    transform: translateY(-3px);
}

.student-card h3 {
    color: #2563eb;
    margin-bottom: 8px;
}

.pass {
    color: green;
    font-weight: bold;
}

.fail {
    color: red;
    font-weight: bold;
}

@media(max-width:600px){
    .form-card{
        padding:15px;
    }
}